
body {
    font-family: Arial, sans-serif;
}

.container-div {
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}

.product-display {
    position: relative;
    height: 100vh;
    width: 900px;
    background-color: rgba(240, 231, 231, 0.5);
}


.img2 {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 50vh !important;
    width: 50vh !important;
}

#share-product {
    position: absolute;
    bottom: 35vh;
    left: 20px;
}

#twitter-icon,
#linkedin-icon,
#facebook-icon {
    position: absolute;
    bottom: 30vh;
}

#twitter-icon { left: 20px; }
#linkedin-icon { left: 65px; }
#facebook-icon { left: 110px; }

#add-to-cart {
    position: absolute;
    bottom: 35vh;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.164);
    width: 540px;
    height: 50px;
    border-radius: 5px;
}

.product-name {
    position: absolute;
    left: 350px;
    top: 40px;
    color: black;
}

.current-price {
    position: absolute;
    left: 350px;
    top: 150px;
    color: black;
}

#before-price {
    position: absolute;
    left: 590px;
    top: 170px;
    color: black;
}

#discount-percent {
    position: absolute;
    left: 690px;
    top: 170px;
    color: black;
    background-color: rgba(255, 192, 203, 0.582);
}

.horizontal-line,
.horizontal-line2,
.horizontal-line3,
.horizontal-line4 {
    position: absolute;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    width: 540px;
    height: 1px;
}

.horizontal-line { top: 120px; right: 10px; }
.horizontal-line2 { top: 240px; right: 10px; }
.horizontal-line3 { top: 350px; left: 18px; width: 320px; }
.horizontal-line4 { top: 425px; right: 10px; }

.advert {
    height: 100vh;
    width: 250px;
    margin-left: 20px;
    background-color: rgba(240, 231, 231, 0.5);
}

.related-products {
    display: flex;
    justify-content: space-between;
}

.row {
    position: absolute;
    right: 380px;
    top: 300px;
}

.pmobile-display {
    display: none;
}

.cart-circle {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-text {
    position: absolute;
    right: 0;
    margin-right: 30px !important;
    color: #fff;
}

.cart-icon {
    position: absolute;
}



/* Media queries */
@media (max-width: 1300px) {
    .container-div {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .product-display {
        width: 80%;
        margin: 0 auto;
    }

    .advert {
        display: none;
    }

    .img2 {
        position: relative;
        object-fit: contain;
        max-width: 48vh;
        height: 50vh;
        margin-bottom: 30px;
    }

    #share-product,
    #twitter-icon,
    #linkedin-icon,
    #facebook-icon,
    #add-to-cart,
    .product-name,
    .current-price,
    #before-price,
    #discount-percent,
    .horizontal-line,
    .horizontal-line2,
    .horizontal-line3,
    .horizontal-line4,
    .row {
        position: static;
        margin: 10px 0;
    }

    .horizontal-line,
    .horizontal-line2,
    .horizontal-line3,
    .horizontal-line4 {
        display: none;
    }

    #add-to-cart {
        width: 100%;
        text-align: center;
    }

    .related-products {
        flex-direction: column;
        align-items: center;
    }

    .pmobile-display {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #mobile_img {
        margin-bottom: 30px;
    }

    .product-details {
        padding: 40px;
        background-color: rgba(240, 231, 231, 0.5);
        height: 10vh;
        width: 100%;
        margin-bottom: 30px;
    }

    .product-name{
        margin-left: 40px;
    }

    .row,
    .current-price, 
    .before-price, 
    .discount-percent {
        margin-left: 20px !important;
    }


    .related-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .cart-icon{
        position: absolute;
    }

    
}
