.horizontal{
    width: 8%;
    border: 1px solid #000;;
}
.customer-login{
    margin-top: 115px;
    font-size: 1.5rem;
}
.input-field{
    width: 100%;
}
.required-field{
    display: flex;
}
.btn-1{
    width: 15%;
    border: 1px solid #000 ;
    background-color: #fff;
}
.btn-1:hover{
    background-color: #000;
    color: #fff;
}
.para-field{
    position: absolute;
    right: 0;
}
.new-customer{
    display: flex;
}
.sign-up{
    text-decoration: none;
    cursor: pointer;
    color: #007ACE;
}

.dev{
    display: flex;
}

.one-half {
    position: relative;
    width: calc(50% - 20px);
}

.is-order-aligned-right {
    order: 1;
}

.dev .column {
    margin-left: calc(20px / 2);
    margin-right: calc(20px / 2);
}

.custom-alert {
    position: absolute;
    top: 10%;
    left: 70%;
    background-color: #000000;
    padding: 10px;
    border-radius: .5rem;
    z-index: 1000;
    text-align: center;
    width: 17vw;
}

.custom-alert p {
    margin: 0 0 10px;
    font-size: 16px;
    color: #ffff;
}

.custom-alert-button {
    padding: 10px 20px;
    background-color: #cbf802;
    color: #000000;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 16px;
}



@media (max-width: 798px )  {

    .medium-down--one-whole {
        position: relative;
        width: calc(100% - 20px);
    }
    
    .is-order-aligned-right {
       display: none;
    }

    .para-field {
        position: absolute;
        right: 0;
    }

    .input-field{
        width: 100%;
    }

}
